.gen-info {
	border:6px solid red;
	border-radius:0px 50px 0px 50px;
	color:red;
	text-align: center;
	padding:10px;
	font-size:20px;
}
.head {
	color:red;
	font-weight:bold;
	font-size:40px;
}
.link {
	color:red;
	text-decoration:underline;
}
.break {
	color:lightgray;
	font-size:10px;
}
@keyframes emoji {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(90deg) }
}
#emoji {
	animation: emoji 0s forwards;
	animation-iteration-count: 1;
}
.center {
	text-align: center;
}
.row {
	border-bottom:3px solid red;
}
body {
	font-family:Comic Sans MS;
	background-color:lightgray;
	color:red;
}
