.gen-info {
	border:6px solid red;
	border-radius:0px 50px 0px 50px;
	color:red;
	text-align: center;
	padding:10px;
	font-size:20px;
}

#forkme_banner {
  display: block;
  position: fixed;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('https://raw.githubusercontent.com/octocat/octocat.github.io/master/images/blacktocat.png') #000000 no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.head {
	color:red;
	font-weight:bold;
	font-size:40px;
}
.link {
	color:red;
	text-decoration:underline;
}
.break {
	color:lightgray;
	font-size:10px;
}
@keyframes emoji {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(90deg) }
}
#emoji {
	animation: emoji 0s forwards;
	animation-iteration-count: 1;
}
.center {
	text-align: center;
}
.row {
	border-bottom:3px solid red;
}
body {
	font-family:Comic Sans MS;
	background-color:lightgray;
	color:red;
}
